:root {
    --max-width: 1024px; 
    --color-primary: #6aff4d;
    --color-secondary: #3b3b3b;
    --color-black: #282828;
    --color-white: rgb(226, 226, 226);
    --color-black-darker: rgb(0, 0, 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

html {	
	scroll-behavior: smooth;
}

body {
    color: var(--color-white);
    background-color: var(--color-secondary);
}

hr {
    width: 200px;
    justify-self: center;
    margin: auto;
    background-color: var(--color-primary);
    border: none;
    height: 2px;
    margin-bottom: 1rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 100%;
    background-color: var(--color-black);
}

.nav-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    width: 100%;
}

h1 {
    font-size: 1.7rem;
    padding-bottom: 1.5rem;
    color: var(--color-primary);
    font-weight: 500;
}

h1:hover {
    color: var(--color-white);
}

nav li{
    display: inline;
    padding-left: 1rem;
    font-size: 14px;
}

nav li:first-child{
    padding: 0;
}

nav li a {
    text-decoration: none;
    color: var(--color-white);
}

nav li a:hover {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}

.hero-section{
    height: 20rem;
    background-image: url(../images/bg-hero.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    text-align: center;  
    color: var(--color-white);  
}

.avatar {
    width: 80px;
    padding-bottom: 1rem;
}

.hero-section h2 {
    padding: 1rem;
}

.hero-section p {
    padding: 0 .5rem;
}

.flex-container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-secondary);
    
}

.about-wrapper,
.work-wrapper,
.contacts-wrapper {
    max-width: var(--max-width);
}

.about-wrapper h3,
.work-wrapper h3,
.contacts-wrapper h3 {
    text-align: center;
    padding: 3rem 0 .5rem 0;
    font-size: 2rem;
    color: var(--color-primary);
}

.about-wrapper p,
.work-wrapper p 
.contacts-wrapper p{
    padding: .5rem;
}

.main-project {
    position: relative;
    margin: 1rem .5rem;
}

.main-project img {
    width: var(--max-width);
    max-width: 100%;
    height: 400px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    background-color: #6bff4d88;
    z-index: 2;
    width: var(--max-width);
    max-width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    border: 5px solid var(--color-black-darker);
}

a:hover .overlay{
    background-color: #6bff4d00;
}

.projects-grid {
    width: 100%;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem .5rem;
}

.project {
    position: relative;
}

.project img{
    width: 100%;
}

.project-title {
    position: absolute;
    bottom: 50px;
    background-color: var(--color-black-darker);
    padding: .5rem 1rem;
    z-index: 3;
    color: var(--color-white);
}

.project-title h4 {
    font-size: 1.5rem;
}

.contacts-links {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding-top: 1rem;
    height: 60px;
}

.contacts-links a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 1rem;
}

.contacts-links a:hover {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    background-color: var(--color-black);
    margin-top: 5rem;
}

footer h4 {
    font-weight: 500;
}

footer hr {
    margin: .7rem 0;
    width: 100px;
}

footer p {
    font-size: 14px;
}

@media only screen and (min-width: 500px) {
    .projects-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 769px) {
    header {
        padding: 2rem 3rem;
        height: fit-content;
    }

    .nav-wrapper{
        flex-direction: row;
    }

    h1 {
        font-size: 2rem;
        padding: 0;
    }

    nav li {
        font-size: 1rem;
    }
    .hero-section{
        height: 23rem;
    }

    .avatar {
        width: 120px;
        padding-bottom: 1rem;
    }

    .hero-section h2 {
        font-size: 3rem;
    }
    .hero-section p {
        font-size: 1.2rem;
    }

    .projects-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}